<div class="container">
    <h3>Silahkan Masukan Kontak Baru</h3>

    <form action="/store" method="post" class="form-control">
        <div>
            <label for="">Nama</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="">Nomor HP</label>
            <input type="text" id="phone" name="phone">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>