<div class="container">
    <div class="about">
        <h1>This Is About Me Pages</h1>
    </div>
    <div class="row">
        <div class="col text-center">
            <img src="img/jay.jpg" alt="Jairus Calvin">
            <h1 class="display-4">Jairus Calvin</h1>
            <p class="lead">Peserta</p>
        </div>
    </div>
</div>